.Rproj.user
.Rhistory
.RData
.Ruserdata
input_data/WorldClim_data_current/current_10_m.zip
input_data/WorldClim_data_current/wc2.1_10m_bio_1.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_10.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_11.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_12.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_13.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_14.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_15.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_16.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_17.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_18.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_19.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_2.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_3.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_4.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_5.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_6.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_7.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_8.tif
input_data/WorldClim_data_current/wc2.1_10m_bio_9.tif
input_data/WorldClim_data_future/ac_ssp585_10_2090.tif
input_data/WorldClim_data_future/ae_ssp585_10_2090.tif
input_data/WorldClim_data_future/ca_ssp585_10_2090.tif
input_data/WorldClim_data_future/cc_ssp585_10_2090.tif
input_data/WorldClim_data_future/ce_ssp585_10_2090.tif
input_data/WorldClim_data_future/ch_ssp585_10_2090.tif
input_data/WorldClim_data_future/cn_ssp585_10_2090.tif
input_data/WorldClim_data_future/cr_ssp585_10_2090.tif
input_data/WorldClim_data_future/ec_ssp585_10_2090.tif
input_data/WorldClim_data_future/ev_ssp585_10_2090.tif
input_data/WorldClim_data_future/fi_ssp585_10_2090.tif
input_data/WorldClim_data_future/gg_ssp585_10_2090.tif
input_data/WorldClim_data_future/gh_ssp585_10_2090.tif
input_data/WorldClim_data_future/hg_ssp585_10_2090.tif
input_data/WorldClim_data_future/ic_ssp585_10_2090.tif
input_data/WorldClim_data_future/in_ssp585_10_2090.tif
input_data/WorldClim_data_future/ip_ssp585_10_2090.tif
input_data/WorldClim_data_future/me_ssp585_10_2090.tif
input_data/WorldClim_data_future/mi_ssp585_10_2090.tif
input_data/WorldClim_data_future/ml_ssp585_10_2090.tif
input_data/WorldClim_data_future/mp_ssp585_10_2090.tif
input_data/WorldClim_data_future/mr_ssp585_10_2090.tif
input_data/WorldClim_data_future/uk_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/.DS_Store
input_data/WorldClim_data_gcms/ac_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/ac_ssp585_30_2090.tif
input_data/WorldClim_data_gcms/ae_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/ae_ssp585_30_2090.tif
input_data/WorldClim_data_gcms/ca_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/cc_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/ce_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/ch_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/cn_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/cr_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/ec_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/ev_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/fi_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/gg_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/gh_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/hg_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/ic_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/in_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/ip_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/me_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/mi_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/ml_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/mp_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/mr_ssp585_10_2090.tif
input_data/WorldClim_data_gcms/uk_ssp585_10_2090.tif
docs
